html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font: inherit;
  vertical-align: middle; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@font-face {
  font-family: 'YesevaOne';
  src: url("../fonts/YesevaOne.woff") format("woff"), url("../fonts/YesevaOne.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato-Regular.ttf") format("ttf"), url("../../fonts/Lato-Bold.ttf") format("ttf"), url("../../fonts/Lato-Italic.ttf") format("ttf"), url("../../fonts/Lato-Light.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'GenBkBasB';
  src: url("../../fonts/GenBkBasB.ttf") format("ttf"), url("../fonts/YesevaOne.woff") format("woff"), url("../fonts/YesevaOne.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot?1599034479440");
  src: url("../fonts/iconfont.eot?#iefix-1599034479440") format("embedded-opentype"), url("../fonts/iconfont.woff2?1599034479440") format("woff2"), url("../fonts/iconfont.woff?1599034479440") format("woff"), url("../fonts/iconfont.ttf?1599034479440") format("truetype");
  font-weight: normal;
  font-style: normal; }

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'iconfont';
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak-as: none;
  text-decoration: inherit;
  font-size: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*
   Glyphs list
   */
.icon-facebook:before {
  content: '\ea01'; }

.icon-logo-image:before {
  content: '\ea02'; }

.icon-twitter:before {
  content: '\ea03'; }

.icon-youtube:before {
  content: '\ea04'; }

.wrapper {
  max-width: 1250px;
  width: 100%;
  padding-right: 30px;
  padding-right: 30px;
  margin: 0 auto;
  height: 100%; }

.clearfix {
  overflow: auto; }

.f-right {
  float: right; }

@media (max-width: 1099px) {
  .wrapper {
    max-width: 1100px;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px; } }

@media (max-width: 991px) {
  .wrapper {
    max-width: 992px;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px; } }

@media (max-width: 767px) {
  .wrapper {
    max-width: 768px;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px; } }

@media (max-width: 319px) {
  .wrapper {
    max-width: 320px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px; } }

.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10; }
  .header::before, .header::after {
    content: '';
    display: table; }
  .header::after {
    clear: both; }
  .header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.logo-section {
  float: left;
  width: 150px;
  text-align: center;
  position: relative; }
  .logo-section:hover {
    opacity: 0.6; }

.right-side-header {
  float: right;
  padding-left: 30px; }
  .right-side-header::before, .right-side-header::after {
    content: '';
    display: table; }
  .right-side-header::after {
    clear: both; }

.navigation {
  float: left; }

.social-icon-section {
  float: left;
  margin-left: 20px; }

.social-icon {
  color: #dab33e;
  font-size: 30px;
  text-shadow: 1px 1px 10px #191919; }

.social-link:hover {
  opacity: 0.7; }

.logo-name {
  font-family: "YesevaOne", sans-serif;
  color: #FFFFFF;
  font-size: 32px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%); }

.logo-image {
  padding-bottom: 71.94%;
  background-size: cover;
  background-repeat: no-repeat; }

.nav {
  height: 100%; }
  .nav::before, .nav::after {
    content: '';
    display: table; }
  .nav::after {
    clear: both; }

.nav-item {
  float: left;
  height: 100%; }
  .nav-item:not(:last-child) {
    margin-right: 55px; }

.link-nav {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 22px;
  padding-top: 32px; }
  .link-nav:hover {
    opacity: 0.7;
    cursor: pointer;
    border-top: 4px solid #FFFFFF; }

.header__hamburger {
  float: right;
  border: none;
  position: relative;
  outline: none;
  background-color: transparent; }

.hamburger__line {
  box-shadow: 1px 1px 5px #191919;
  display: block;
  width: 50px;
  height: 3px;
  margin-bottom: 10px;
  background-color: #dab33e; }

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

@media (max-width: 1099px) {
  .nav-item:not(:last-child) {
    margin-right: 20px; } }

@media (max-width: 991px) {
  .wrapper {
    position: relative; }
  .show-btn {
    position: absolute;
    left: 50%;
    transform: translateX(150%);
    z-index: 100; }
    .show-btn .hamburger__line:nth-child(2) {
      display: none; }
    .show-btn .hamburger__line:first-child {
      transform: rotate(135deg);
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #FFFFFF; }
    .show-btn .hamburger__line:last-child {
      transform: rotate(-135deg);
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #FFFFFF; }
  .navigation {
    display: none; }
  .nav {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__hamburger {
    display: block; }
  .link-nav {
    color: #FFFFFF;
    padding: 0; }
    .link-nav:hover {
      border: none; }
  .nav-item {
    margin-right: 20px;
    display: block;
    width: 60%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #FFFFFF; }
  .show-menu {
    padding-top: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: block;
    text-align: center;
    background-color: #dab33e;
    z-index: 100; }
  .social-icon-section {
    margin-right: 20px; } }

@media (max-width: 449px) {
  .right-side-header {
    padding: 0; }
  .social-icon-section {
    margin-left: 0;
    margin-right: 10px; }
  .logo-section {
    width: 30%; }
  .logo-name {
    font-size: 20px; } }

@media (max-width: 319px) {
  .social-icon-section {
    margin: 0; }
  .right-side-header {
    width: 60%;
    padding: 0; }
  .logo-section {
    width: 30%; }
  .logo-name {
    font-size: 20px; } }

.hero-wrapper {
  position: relative;
  min-height: 750px;
  width: 100%; }

.hero {
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 6px 16px 113px 122px rgba(0, 0, 0, 0.7) inset;
  -moz-shadow: 6px 16px 113px 122px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 6px 16px 113px 122px rgba(0, 0, 0, 0.7) inset; }
  .hero .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .hero .wrapper::before, .hero .wrapper::after {
      content: '';
      display: table; }
    .hero .wrapper::after {
      clear: both; }

.hero-content {
  text-align: center;
  color: #FFFFFF;
  font-family: "YesevaOne", sans-serif;
  width: 100%;
  margin: auto; }

.hero-heading {
  font-size: 90px;
  line-height: 1.3;
  margin-bottom: 25px; }

.hero-decoration-img {
  margin-bottom: 35px; }

.hero-btn-link {
  outline: none; }
  .hero-btn-link:hover {
    cursor: pointer; }

.hero-btn {
  width: 230px;
  height: 60px;
  margin: 0 10px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.288);
  outline: none; }
  .hero-btn:hover {
    opacity: 0.5;
    cursor: pointer; }

.dark {
  background-color: rgba(0, 0, 0, 0.562); }

.page-name {
  position: absolute;
  bottom: 60px;
  left: 20px;
  font-family: "YesevaOne", sans-serif;
  font-size: 60px;
  color: #FFFFFF; }

.bread-crumb {
  position: absolute;
  bottom: 70px;
  right: 20px; }

.crumb-item {
  float: left; }
  .crumb-item:first-child::after {
    color: #FFFFFF;
    content: '|';
    margin-right: 10px;
    margin-left: 10px; }

.link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Lato", sans-serif; }

@media (max-width: 767px) {
  .hero-heading {
    font-size: 60px;
    line-height: 1.2; }
  .hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center; }
  .hero-btn {
    margin-bottom: 20px; }
  .bread-crumb {
    left: 20px;
    bottom: 30px; } }

@media (max-width: 449px) {
  .hero-buttons {
    flex-direction: column; }
  .hero-btn {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    margin-bottom: 20px; }
  .hero-btn-link {
    width: 100%;
    display: block; } }

@media (max-width: 319px) {
  .hero-heading {
    font-size: 30px; }
  .bread-crumb {
    display: none; } }

.about {
  background-repeat: repeat;
  background-size: cover;
  padding-bottom: 30px; }
  .about::before, .about::after {
    content: '';
    display: table; }
  .about::after {
    clear: both; }

.article {
  text-align: center;
  width: 50%;
  float: left;
  padding-right: 50px;
  margin-top: 100px; }

.article-decoration {
  margin-top: 20px;
  margin-bottom: 25px; }

.article-heading {
  color: #dab33e;
  font-family: "YesevaOne", sans-serif;
  font-size: 36px; }

.article-paragraph {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

.article-bottom-circle {
  width: 30%;
  margin-top: 50px;
  display: inline-block; }

.about-right {
  width: 50%;
  float: right;
  padding-top: 50px; }

.about-image-dish {
  padding-bottom: 100.64%;
  background-size: cover;
  background-repeat: no-repeat; }

@media (max-width: 767px) {
  .article {
    width: 100%; }
  .about-right {
    width: 100%; } }

@media (max-width: 767px) {
  .article {
    padding: 0; }
  .article-bottom-img {
    display: block;
    margin: 0 auto; }
  .article-bottom-circle {
    width: 100%; } }

.ingredients {
  background-position: center;
  padding-bottom: 100px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; }
  .ingredients::before, .ingredients::after {
    content: '';
    display: table; }
  .ingredients::after {
    clear: both; }
  .ingredients .article {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.562);
    padding: 80px 65px 100px 65px;
    float: right; }
  .ingredients .article-heading {
    color: #FFFFFF; }

@media (max-width: 1099px) {
  .ingredients .article {
    padding-right: 20px;
    padding-left: 20px; } }

@media (max-width: 991px) {
  .ingredients {
    padding-top: 100px; }
    .ingredients .article {
      margin: 0 auto;
      width: 100%;
      padding-right: 20px;
      padding-left: 20px; } }

@media (max-width: 767px) {
  .article-bottom-circle {
    width: 30%; }
  .article-bottom-img {
    width: 80%; } }

@media (max-width: 319px) {
  .article-bottom-circle {
    width: 30%; }
  .article-bottom-img {
    width: 100%; } }

.menu {
  background-repeat: repeat;
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 105px;
  padding-bottom: 50px;
  font-family: "YesevaOne", sans-serif; }
  .menu::before, .menu::after {
    content: '';
    display: table; }
  .menu::after {
    clear: both; }

.left-menu-items {
  float: left;
  width: 50%;
  padding-left: 50px;
  padding-right: 50px; }

.right-menu-items {
  float: right;
  width: 50%; }

.menu-item {
  text-align: center;
  margin-bottom: 70px; }

.menu-heading {
  color: #dab33e;
  font-weight: 700;
  font-size: 36px; }

.special {
  outline: 1px solid #dab33e;
  position: relative; }

.special-tag {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  padding: 5px 15px;
  background-color: #dab33e;
  color: #FFFFFF;
  position: absolute;
  top: -20px;
  right: 0; }

.meal {
  margin-bottom: 30px; }

.meal-heading {
  font-size: 21px;
  margin: 0 auto;
  width: 90%;
  color: #dab33e;
  border-bottom: 1px solid #dab33e;
  padding-bottom: 10px;
  margin-bottom: 15px; }
  .meal-heading::before, .meal-heading::after {
    content: '';
    display: table; }
  .meal-heading::after {
    clear: both; }

.meal-description {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.heading-left {
  float: left; }

.heading-right {
  float: right; }

@media (max-width: 767px) {
  .arrow {
    border: solid #dab33e;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    float: right; }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg); }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  .menu .article-decoration {
    display: none; }
  .left-menu-items,
  .right-menu-items {
    display: block;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px; }
  .meals {
    display: none; }
  .menu-heading {
    text-align: left;
    display: block;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #dab33e; }
    .menu-heading::before, .menu-heading::after {
      content: '';
      display: table; }
    .menu-heading::after {
      clear: both; }
  .show-meals {
    display: block;
    margin-top: 20px; } }

@media (max-width: 767px) {
  .left-menu-items, .right-menu-items {
    padding: 0; }
  .meal-heading {
    margin-left: 0;
    margin-right: 0; }
  .meal-description {
    text-align: left; } }

.reviews {
  background-position: center;
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .reviews::before, .reviews::after {
    content: '';
    display: table; }
  .reviews::after {
    clear: both; }
  .reviews .article {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.562);
    padding: 80px 65px 100px 65px;
    width: 50%;
    position: relative; }
  .reviews .article-heading {
    color: #FFFFFF; }
  .reviews .article-decoration {
    filter: invert(100); }
  .reviews .article-paragraph {
    line-height: 2;
    font-family: "GenBkBasB", sans-serif;
    font-size: 22px;
    margin-bottom: 30px; }
  .reviews .foodinc {
    font-family: "Lato", sans-serif; }
  .reviews .article-quotes {
    position: absolute;
    top: 180px;
    left: 30px; }

@media (max-width: 1099px) {
  .reviews .article {
    width: 80%; } }

@media (max-width: 319px) {
  .reviews .article {
    padding: 0; }
  .reviews .article-heading {
    font-size: 30px; }
  .reviews .article-paragraph {
    font-size: 22px; } }

.reservations {
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px; }
  .reservations::before, .reservations::after {
    content: '';
    display: table; }
  .reservations::after {
    clear: both; }
  .reservations .wrapper {
    padding-left: 40px;
    padding-right: 40px; }

.reservations-left {
  float: left;
  width: 50%; }
  .reservations-left::before, .reservations-left::after {
    content: '';
    display: table; }
  .reservations-left::after {
    clear: both; }

.first-image {
  float: left;
  width: 48%;
  margin-right: 4%; }

.second-image {
  float: left;
  width: 48%; }

.reservations-img1,
.reservations-img2 {
  padding-bottom: 187%;
  background-size: cover;
  background-repeat: no-repeat; }

.reservations-right {
  float: right;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .reservations-right .article {
    width: 100%;
    padding: 0;
    padding-bottom: 30px;
    margin-top: 0; }

.form {
  display: block;
  width: 100%; }

.group {
  width: 49%;
  display: inline-block;
  margin-bottom: 20px; }

.form-label {
  color: #dab33e;
  display: block;
  margin-bottom: 10px; }

.form-input {
  width: 90%;
  height: 40px;
  padding-left: 10px; }

.btn-orange {
  margin-top: 10px;
  padding: 10px 10px;
  width: 200px;
  border: none;
  background-color: #dab33e;
  color: #FFFFFF;
  display: block;
  margin: 20px auto; }

.btn-link {
  text-decoration: none;
  outline: none;
  color: #FFFFFF; }
  .btn-link:hover {
    opacity: 0.7;
    cursor: pointer; }

@media (max-width: 767px) {
  .reservations-left {
    display: none; }
  .reservations-right {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px; } }

@media (max-width: 319px) {
  .reservations .wrapper {
    padding-left: 20px;
    padding-right: 20px; }
  .reservations .article {
    width: 100%; }
  .reservations .article-heading {
    width: 100%; }
  .reservations .article-paragraph {
    width: 100%; }
    .reservations .article-paragraph:first-child {
      margin-bottom: 20px; }
  .reservations-right {
    padding: 0; }
  .group {
    width: 100%; }
  .form-input {
    width: 100%; }
  .btn-orange {
    width: 100%; } }

.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #191919;
  color: #FFFFFF; }
  .footer::before, .footer::after {
    content: '';
    display: table; }
  .footer::after {
    clear: both; }
  .footer .social-icon {
    color: #FFFFFF; }
    .footer .social-icon:hover {
      opacity: 0.5; }

.footer-col {
  width: 33.33%;
  float: left; }

.footer-heading {
  font-size: 24px;
  font-weight: 700; }

.footer-decoration {
  margin-top: 10px;
  margin-bottom: 10px; }

.footer-paragraph {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 2.3;
  width: 80%;
  margin: 0 auto; }

.footer-hours {
  display: block;
  margin-bottom: 15px;
  font-family: "Lato", sans-serif; }
  .footer-hours strong {
    font-weight: bold; }

.footer-location {
  display: block;
  font-weight: 700;
  font-family: "Lato", sans-serif; }

.footer-icon-section {
  margin-top: 50px;
  color: #FFFFFF; }

@media (max-width: 767px) {
  .footer-col:first-child {
    width: 100%;
    margin-bottom: 30px; }
  .footer-col:not(:first-child) {
    width: 50%; } }

@media (max-width: 449px) {
  .footer-col {
    display: block;
    width: 100%; }
    .footer-col:not(:first-child) {
      width: 100%;
      margin-bottom: 30px; } }

.central-wrapper {
  background-position: center;
  padding-bottom: 100px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; }
  .central-wrapper::before, .central-wrapper::after {
    content: '';
    display: table; }
  .central-wrapper::after {
    clear: both; }
  .central-wrapper .flex {
    display: flex;
    justify-content: center; }
  .central-wrapper .article-about {
    text-align: center;
    width: 60%;
    padding: 0;
    margin-top: 30px;
    clear: both; }
  .central-wrapper .article-paragraph {
    text-align: left;
    margin-top: 40px; }
  .central-wrapper .reservations-right {
    margin-left: 50px; }
    .central-wrapper .reservations-right .article-paragraph {
      text-align: center; }

.wrapper {
  text-align: center; }

.gallery-heading {
  display: block; }

.gallery-items {
  display: block;
  width: 100%;
  float: left;
  margin-top: 50px;
  margin-bottom: 100px; }

.gallery-item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 16%; }
  .gallery-item:hover {
    opacity: 0.7;
    cursor: pointer; }

.gallery-img {
  padding-bottom: 100%;
  background-size: cover;
  background-repeat: no-repeat; }

.modal {
  padding: 50px;
  background-color: white;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100; }

.modal-content {
  width: 100%; }

.show-modal {
  display: block; }

.hide-modal {
  display: none; }

.x-button {
  border: none;
  position: relative;
  outline: none;
  background-color: transparent;
  float: right;
  margin-top: -30px;
  margin-right: -50px; }
  .x-button:hover {
    opacity: 0.5;
    cursor: pointer; }

.x-line {
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 10px;
  background-color: #191919; }
  .x-line:first-child {
    transform: rotate(135deg);
    position: absolute;
    top: 10px;
    right: 10px; }
  .x-line:last-child {
    transform: rotate(-135deg);
    position: absolute;
    top: 10px;
    right: 10px; }

@media (max-width: 991px) {
  .wrapper .article-about {
    width: 100%; }
  .gallery-item {
    width: 30%; } }
