.about {
    background-repeat: repeat;
    background-size: cover;
    @include clearfix;
    padding-bottom: 30px;
}

.article {
    text-align: center;
    width: 50%;
    float: left;
    padding-right: 50px;
    margin-top: 100px;
}


.article-decoration {
    margin-top: 20px;
    margin-bottom: 25px;
}

.article-heading {
    color: $anzac;
    font-family: $yeseva-one;
    font-size: 36px;
}

.article-paragraph {
    font-family: $lato;
    font-size: 16px;
    line-height: 1.5;
}

.article-bottom-circle{
    width: 30%;
    margin-top: 50px;
    display: inline-block;
}

.about-right {
    width: 50%;
    float: right;
    padding-top: 50px;
}

.about-image-dish {
    padding-bottom:100.64%;
    @include bg;
}



@include respond-below(sm){
    .article {
        width: 100%;
    }

    .about-right {
        width: 100%;
    }
}

@include respond-below(sm){
    .article {
        padding: 0;
    }

    .article-bottom-img {
        display: block;
        margin: 0 auto;
    }

    .article-bottom-circle {
        width: 100%;
    }
}