.footer {
    @include clearfix;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: $cod-gray;
    color: $white-solid;

    .social-icon {
        color: $white-solid;
    
        &:hover {
            opacity: 0.5;
        }
    }
}

.footer-col {
    width: 33.33%;
    float: left;
}

.footer-heading{
    font-size: 24px;
    font-weight: 700;
}

.footer-decoration {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-paragraph {
    font-family: $lato;
    font-size: 14px; 
    line-height: 2.3;
    width: 80%;
    margin: 0 auto;
}

.footer-hours {
    display: block;
    margin-bottom: 15px;
    font-family: $lato;
    
    strong {
        font-weight: bold;
    }
}

.footer-location {
    display: block;
    font-weight: 700;
    font-family: $lato;
}

.footer-icon-section {
    margin-top: 50px;
    color: $white-solid;
}



@include respond-below(sm) {
    .footer-col{
        &:first-child {
            width: 100%;
            margin-bottom: 30px;
        }

        &:not(:first-child){
            width: 50%;
        }
    }
}
  

@include respond-below(smx) {
    .footer-col{
        display: block;
        width: 100%;

        &:not(:first-child){
            width: 100%;
            margin-bottom: 30px;
        }
    }
}