.header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    @include clearfix;
    
    .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
}

.logo-section {
    float: left;
    width: 150px;
    text-align: center;
    position: relative;
    &:hover {
        opacity: 0.6;
    }
}


.right-side-header{
    float: right;
    @include clearfix;
    padding-left: 30px;
}

.navigation {
    float: left;
}

.social-icon-section {
    float: left;
    margin-left: 20px;
}

.social-icon {
    color: $anzac;
    font-size: 30px;
    text-shadow: 1px 1px 10px $cod-gray;
}

.social-link {
    &:hover{
        opacity: 0.7;
    }
}

.logo-name {
    font-family: $yeseva-one;
    color: $white-solid;
    font-size:32px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.logo-image {
    padding-bottom: 71.94%;
    @include bg;
}

.nav {
    @include clearfix;
    height: 100%;
}

.nav-item {
    float: left;
    height: 100%;

    &:not(:last-child){
        margin-right: 55px;
    }

    
}

.link-nav {
    text-decoration: none;
    color: $white-solid;
    font-size: 22px;
    padding-top: 32px;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
        border-top: 4px solid $white-solid;
    }
}

.header__hamburger {
    float: right;
    border: none;
    position: relative;
    outline:none;
    background-color: transparent;
}

.hamburger__line {
    box-shadow: 1px 1px 5px $cod-gray;
    display: block;
    width: 50px;
    height: 3px;
    margin-bottom: 10px;
    background-color: $anzac;
} 

.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
  



@include respond-below(lg) {
    .nav-item:not(:last-child){
        margin-right: 20px;
    }
}


@include respond-below(md) {

    .wrapper {
        position: relative;
    }

    .show-btn {

        position: absolute;
        left: 50%;
        transform: translateX(150%);

        .hamburger__line:nth-child(2){
            display: none;
        }

        .hamburger__line:first-child{
            transform: rotate(135deg);
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: $white-solid;
        }
        .hamburger__line:last-child{
            transform: rotate(-135deg);
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: $white-solid;
        }
        z-index: 100;
    }


    .navigation {
        display: none;
    }

    .nav {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__hamburger {
        display: block;
    }

    .link-nav {
        color: $white-solid;
        padding: 0;

        &:hover {
            border: none;
        }
    }

    .nav-item {
        margin-right: 20px;
        display: block;
        width: 60%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid $white-solid;
    }


    .show-menu {
        padding-top: 100px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        display: block;
        text-align: center;
        background-color: $anzac;
        z-index: 100;
    }

    .social-icon-section {
        margin-right: 20px;
    }
}


@include respond-below(smx){
    .right-side-header{
        padding: 0;
    }
    .social-icon-section {
        margin-left: 0;
        margin-right: 10px;
    }

    .logo-section {
        width: 30%;
    }

    .logo-name {
        font-size: 20px;
    }
  }




@include respond-below(xs){
    .social-icon-section{
        margin: 0;
    }

    .right-side-header {
        width: 60%;
        padding: 0;
    }

    .logo-section {
        width: 30%;
    }

    .logo-name {
        font-size: 20px;
    }
}

