.hero-wrapper {
    position: relative;
    min-height: 750px;
    width: 100%;

}

.hero {
    //padding-bottom: 46.87%;
    width: 100%;
    height: 100%;
    background-position: top center;
    @include bg;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 6px 16px 113px 122px rgba(0, 0, 0, 0.7) inset;
    -moz-shadow: 6px 16px 113px 122px rgba(0, 0, 0, 0.7) inset;
    box-shadow: 6px 16px 113px 122px rgba(0, 0, 0, 0.7) inset;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include clearfix;
    }
}


.hero-content {
    text-align: center;
    color: $white-solid;
    font-family: $yeseva-one;
    width: 100%;
    margin: auto;
}

.hero-heading {
    font-size: 90px;
    line-height: 1.3;
    margin-bottom: 25px;
}

.hero-decoration-img {
    margin-bottom: 35px;
}

.hero-btn-link {
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

.hero-btn {
    @include hero-btn;
    background-color: $white-transparent;
    outline: none;

    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }

}

.dark {
    background-color: $black-transparent;
}

.page-name {
    position: absolute;
    bottom: 60px;
    left: 20px;
    font-family: $yeseva-one;
    font-size: 60px;
    color: $white-solid;
}

.bread-crumb {
    position: absolute;
    bottom: 70px;
    right: 20px;
}

.crumb-item {
    float: left;

    &:first-child{
        
        &::after{
            color: $white-solid;
            content: '|';
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}

.link {
    text-decoration: none;
    color: $white-solid;
    font-family: $lato;

    
}



@include respond-below(sm) {

    .hero-heading {
        font-size: 60px;
        line-height: 1.2;
    }

    .hero-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-btn {
        margin-bottom: 20px;
    }

    .bread-crumb{
        left: 20px;
        bottom: 30px;
    } 
}

@include respond-below(smx) {
    .hero-buttons {
        flex-direction: column;
    }

    .hero-btn {
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .hero-btn-link {
        width: 100%;
        display: block;
    }
}



@include respond-below(xs) {
  
    .hero-heading {
        font-size: 30px;
    }

    .bread-crumb {
        display: none;
    }
}