.ingredients {
    background-position: center;
    padding-bottom: 100px;
    width: 100%;
    @include bg;
    @include clearfix;

    .article {
        @include article;
        float: right;

    }    

    .article-heading {
        color: $white-solid;
    }

}


@include respond-below(lg) {
    .ingredients{

        .article {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}



@include respond-below(md) {
    .ingredients{
        padding-top: 100px;

        .article{
            margin: 0 auto;
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}



@include respond-below(sm) {
    .article-bottom-circle {
        width: 30%;
    }

    .article-bottom-img{
        width: 80%;
    }
 }


@include respond-below(xs) {
   .article-bottom-circle {
       width: 30%;
   }

   .article-bottom-img{
    width: 100%;
}
}



