.menu {
    background-repeat: repeat;
    background-size: cover;
    @include bg;
    @include clearfix;
    padding-top: 105px;
    padding-bottom: 50px;
    font-family: $yeseva-one;
}

.left-menu-items {
    float: left;
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
}

.right-menu-items {
    float: right;
    width: 50%;
}

.menu-item {
    text-align: center;
    margin-bottom: 70px;
}

.menu-heading {
    color: $anzac;
    font-weight: 700;
    font-size: 36px;
}

.special {
    // border: 1px solid $anzac;
    outline: 1px solid $anzac;
    position: relative;
}

.special-tag {
    font-family: $lato;
    font-size: 10px;
    padding: 5px 15px;
    background-color: $anzac;
    color: $white-solid;
    position: absolute;
    top: -20px;
    right: 0;
}

.meal {
    margin-bottom: 30px;
}

.meal-heading {
    font-size: 21px;
    margin: 0 auto;
    width: 90%;
    color: $anzac;
    border-bottom: 1px solid $anzac;
    padding-bottom: 10px;
    margin-bottom: 15px;
    @include clearfix;
}

.meal-description {
    font-family: $lato;
    font-weight: 400;
}

.heading-left {
    float: left;
}

.heading-right {
    float: right;
}



@include respond-below(sm) {
    .arrow {
        border: solid $anzac;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        float: right;
      }

      .up {
          
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
      
      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

    .menu {
        .article-decoration {
            display: none;
        }
    }

    .left-menu-items,
    .right-menu-items {
        display: block;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .meals {
        display: none;
    }

    .menu-heading {
        text-align: left;
        display: block;
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid $anzac;
        @include clearfix;
    }

    .show-meals {
        display: block;
        margin-top: 20px;
    }
}


@include respond-below(sm) {
    .left-menu-items, .right-menu-items {
        padding: 0;
    }

    .meal-heading {
        margin-left: 0;
        margin-right: 0;
    }

    .meal-description {
        text-align: left;
    }
}