.central-wrapper {
    background-position: center;
    padding-bottom: 100px;
    width: 100%;
    @include bg;
    @include clearfix;

    .flex {
        display: flex;
        justify-content: center;
    }


    .article-about {
        text-align: center;
        width: 60%;
        padding: 0;
        margin-top: 30px;
        clear: both;
    }


    .article-paragraph {
        text-align: left;
        margin-top: 40px;
    }

    .reservations-right {
        margin-left: 50px;

        .article-paragraph{
            text-align: center;
        }
    }
}

.wrapper {
    text-align: center;
}


.gallery-heading {
    display: block;
}

.gallery-items{
    display: block;
    width: 100%;
    float: left;
    margin-top: 50px;
    margin-bottom: 100px;
}

.gallery-item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 16%;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

.gallery-img {
    padding-bottom: 100%;
    @include bg;
}


.modal {
    padding:50px;
    background-color: white;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.modal-content {
    width: 100%;
}

.show-modal {
    display: block;
}

.hide-modal {
    display: none;
}


.x-button {
    border: none;
    position: relative;
    outline:none;
    background-color: transparent;
    float: right;
    margin-top: -30px;
    margin-right: -50px;

    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}



.x-line {
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
    background-color: $cod-gray;

    &:first-child{
        transform: rotate(135deg);
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &:last-child{
        transform: rotate(-135deg);
        position: absolute;
        top: 10px;
        right: 10px;
    }
}




@include respond-below (md) {
    .wrapper {
        .article-about {
            width: 100%;
        }
    }
    
    .gallery-item{
        width: 30%;
    }
}