.reservations {
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    @include bg;
    @include clearfix;
    padding-top: 100px;
    padding-bottom: 100px;

    .wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.reservations-left {
    float: left;
    width: 50%;
    @include clearfix;
}

.first-image {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.second-image {
    float: left;
    width: 48%;
}

.reservations-img1,
.reservations-img2 {
    padding-bottom: 187%;
    @include bg;
}

.reservations-right {
    float: right;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .article {
        width: 100%;
        padding: 0;
        padding-bottom: 30px;
        margin-top: 0;
    }
}

.form {
    display: block;
    width: 100%;
}

.group {
    width: 49%;
    display: inline-block;
    margin-bottom: 20px;
}

.form-label {
    color: $anzac;
    display: block;
    margin-bottom: 10px;
}

.form-input {
    width: 90%;
    height: 40px;
    padding-left: 10px;
}

.btn-orange {
    margin-top: 10px;
    padding: 10px 10px;
    width: 200px;
    border: none;
    background-color: $anzac;
    color: $white-solid;
    display: block;
    margin: 20px auto;
}

.btn-link {
    text-decoration: none;
    outline: none;
    color: $white-solid;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}



@include respond-below(sm) {

    .reservations-left {
        display: none;
    }

    .reservations-right {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}



@include respond-below(xs) {
    .reservations {
        .wrapper {
            padding-left: 20px;
            padding-right: 20px;
        }

        .article {
            width: 100%;
        }

        .article-heading {
            width: 100%;
        }

        .article-paragraph {
            width: 100%;

            &:first-child{
                margin-bottom: 20px;
            }
        }
    }

    .reservations-right {
        padding: 0;
    }

    .group {
        width: 100%;
    }

    .form-input {
        width: 100%;
    }

    .btn-orange {
        width: 100%;
    }

    
}


  