.reviews {
    background-position: center;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    @include bg;
    @include clearfix;

    .article {
        @include article;
        width: 50%;
        position: relative;
    }    

    .article-heading {
        color: $white-solid;
    }

    .article-decoration {
        filter: invert(100);
    }

    .article-paragraph {
        line-height: 2;
        font-family: $genbk-bas-b;
        font-size: 22px;
        margin-bottom: 30px;
    }

    .foodinc {
        font-family: $lato;
    }

    .article-quotes {
        position: absolute;
        top: 180px;
        left: 30px;
    }
}



@include respond-below(lg) {
    .reviews {

        .article{
            width: 80%;
        }
    }
}


@include respond-below(xs) {
   .reviews {

    .article {
        padding: 0;
    }

    .article-heading {
        font-size: 30px;
    }

    .article-paragraph {
        font-size: 22px;
    }
   }
}


  
  