.wrapper{
    max-width: 1250px; 
    width: 100%;
    padding-right: 30px;
    padding-right: 30px;
    margin: 0 auto;
    height: 100%;
}

.clearfix {
    overflow:auto;
}

.f-right {
    float: right;
}


@include respond-below(lg){
    .wrapper{
        max-width: 1100px;
        width: 100%;
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}



@include respond-below(md){
    .wrapper{
        max-width: 992px;
        width: 100%;
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}



@include respond-below(sm){
    .wrapper{
        max-width: 768px;
        width: 100%;
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@include respond-below(xs){
    .wrapper{
        max-width: 320px;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

}