@font-face {
    font-family: 'iconfont';
   
    src: url('../fonts/iconfont.eot?1599034479440');
    src: url('../fonts/iconfont.eot?#iefix-1599034479440') format('embedded-opentype'),
     url('../fonts/iconfont.woff2?1599034479440') format('woff2'),
     url('../fonts/iconfont.woff?1599034479440') format('woff'),
     url('../fonts/iconfont.ttf?1599034479440') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
   

   [class^='icon-']:before,
   [class*=' icon-']:before {
    font-family: 'iconfont';
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak-as: none;
    text-decoration: inherit;
    font-size: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   }
   
   /*
   Glyphs list
   */

.icon-facebook:before {
content: '\ea01';
}

.icon-logo-image:before {
content: '\ea02';
}

.icon-twitter:before {
content: '\ea03';
}

.icon-youtube:before {
content: '\ea04';
}

    