@font-face {
    font-family: 'YesevaOne';
    src:    url('../fonts/YesevaOne.woff') format('woff'),
            url('../fonts/YesevaOne.woff2') format('woff2');
            font-weight: 400;
            font-style: normal;
}


@font-face {
    font-family: 'Lato';
    src:    url('../../fonts/Lato-Regular.ttf') format('ttf'),
            url('../../fonts/Lato-Bold.ttf') format('ttf'),
            url('../../fonts/Lato-Italic.ttf') format('ttf'),
            url('../../fonts/Lato-Light.ttf') format('ttf'),;
            font-weight: 400;
            font-style: normal;
}

@font-face {
    font-family: 'GenBkBasB';
    src:    url('../../fonts/GenBkBasB.ttf') format('ttf'),
            url('../fonts/YesevaOne.woff') format('woff'),
            url('../fonts/YesevaOne.woff2') format('woff2');
            font-weight: 700;
            font-style: normal;
}


