$breakpoints: (
  xs: 320px,
  smx: 450px,
  sm: 768px,
  md: 992px,
  lg: 1100px
);


@mixin respond-below($breakpoint) {

    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {
  
      // Get the breakpoint value.
      $breakpoint-value: map-get($breakpoints, $breakpoint);
  
      // Write the media query.
      @media (max-width: ($breakpoint-value - 1)) {
        @content;
      }
  
    // If the breakpoint doesn't exist in the map.
    } @else {
  
      // Log a warning.
      @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
  }


  @mixin clearfix {

    &::before,
    &::after {
      content: '';
      display: table;
    }
    &::after {
      clear: both;
    }
  }


  @mixin bg {
    background-size: cover;
    background-repeat: no-repeat;
  }


  @mixin hero-btn {
    width: 230px;
    height: 60px;
    margin: 0 10px;
    font-size: 18px;
    color: $white-solid;
  }



  @mixin article {
    color: $white-solid;
    background-color: $black-transparent;
    padding: 80px 65px 100px 65px;
  }



