$yeseva-one: 'YesevaOne', sans-serif;
$lato: 'Lato', sans-serif;
$genbk-bas-b: 'GenBkBasB', sans-serif;


$white-solid: #FFFFFF;

$white-transparent: rgba(255, 255, 255, 0.288);

$black-transparent: rgba(0, 0, 0, 0.562);

$cod-gray:#191919;

$anzac: #dab33e;